//@import 'bootstrap-3.3.7'; //not needed
////{M.A}: This is not optimized for sass. Please refactor

$wise-error-color: #8f5c5e;
$wise-error-bgcolor: #f7d8db;
$wise-success-color: #518f53;
$wise-success-bgcolor: #bef7c7;
$wise-info-color: #31708f;
$wise-info-bgcolor: #d9edf7;
$wise-warning-color: #eee774;
$wise-warning-bgcolor: #f6f7c9;

@mixin wiseContainer {
  margin-bottom: 10px;
  height: 60px;
  overflow: hidden;
  position: relative;
  padding: 15px;
  @include slideLeft;

}

@mixin slideLeft {
  animation-name: slideLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  visibility: visible !important;
}


//Wise Error Message Popup Start

@keyframes slideLeft {
  0% {
    transform: translateX(150%);
  }
  50% {
    transform: translateX(-8%);
  }
  65% {
    transform: translateX(4%);
  }
  80% {
    transform: translateX(-4%);
  }
  95% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0%);
  }
}
.wise-heading {
  font-weight: bold;
}

.wise-close {
  background: url('//img/noti-cross.png') no-repeat scroll 0 0 transparent;
  background-position: -4px -10px;
  width: 10px;
  height: 9px;
  position: absolute;
  opacity: 0.8;
  top: 4.5px;
  font-size: 0;
  top: 40%;
  right: 18px;
  border: 0;
}

.wise-message-wrapper {
  position: absolute;
  right: 15px;
  top: 50px;
  width: 20%;
  z-index: 100;
}

.wise-error {
  color: $wise-error-color;
  background-color: $wise-error-bgcolor;
  @include wiseContainer;
}
#dns>.loader-div{
  height:136px;
}
.wise-success {
  color: $wise-success-color;
  background-color: $wise-success-bgcolor;
  @include wiseContainer;
}

.wise-info {
  color: $wise-info-color;
  background-color: $wise-info-bgcolor;
  @include wiseContainer;
}

.wise-warning {
  color: $wise-warning-color;
  background-color: $wise-warning-bgcolor;
  @include wiseContainer;
}

//Wise Error Message Popup End
